*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}
#main{
    display: flex;
    flex-direction: column;
    gap: 2rem;;
    font-family: Arial, sans-serif;

}
#title{
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    margin:1rem 2rem ;
    background-color: rgb(244, 50, 11, 0.8);

}

#agregate-button{
    color: white;
    background-color: #F4320B;
    font-size: 1rem;
    width: 100%;
    border: 2px solid #F4320B;
    border-radius: 0.875rem;
    transition: all 0.1s ease-in-out;
}

#agregate-button:hover{
     transform:scale(1.01);
}

#agregate-button:active{
    font-size: 1.2rem;
    background-color: #ff6242;
}

#contact-form{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.875rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 1rem;

}

#contact-form input{
    padding: 8px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.875rem;
    gap: 1rem;
    transition: all 0.1s ease-in-out;
    outline: 0;
}


#contact-form input:hover{
    border-color:#F4320B ;
    border: 2px solid #F4320B;
}


#contact-form input:focus{
    padding: 15px;
    border-color: #F4320B;
    transform:scale(1);
    box-shadow: 0 0 10;
}


.contact-list{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.numero{
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 90%;
    max-width: 420px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.875rem;
}

.nombre{
    width: 90%;
    max-width: 420px;
     margin: 1rem 0 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.875rem;
}

.button-container{
    display: flex;
    gap: 1rem;
}
.clear-button{
    display: flex;
    align-items: start;
    color:#F64437;
    font-size: 2rem;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
}

.clear-button:hover{
    transform: scale(0.8);
}

.clear-button:active{
    transform: scale(1);
}

.edit-button{
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    color: #84c50d;
    font-size: 1.7rem;
    background-color: transparent;
    transition: all 0.1s ease-in-out;

}

.edit-button:hover{
    transform: scale(0.8);
}

.edit-button:active{
    transform: scale(1);
}

.content-list{
    display:flex;
    flex-direction:column;
    margin: 0 1rem;
    overflow-y: auto;
    max-height: 350px;
    gap: 1rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.875rem;
    padding: 10px;
}

.text-list{
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px){
    .text-list{
        flex-direction: row;
    }

    .numero, .nombre{
        max-width: 725px;
        width: 90%;
        margin:0.5rem 1rem;
    }

    .contact-list{
        flex-direction: row;
    }

    .text-list{
        width: 300rem;

    }
}

@media (min-width: 768px){
   .text-list{
        flex-direction: row;
    }

    .numero, .nombre{
        max-width: 725px;
        width: 90%;
        margin:0.5rem 1rem;
    }

    .contact-list{
        flex-direction: row;
    }

    .text-list{
        width: 300rem;

    }
}